header {
    background: url("/src/homeHeader.svg");
    background-size: cover;
    height: 20vh;
    margin: -8px;
    padding: 20px;
}

#headerLogo {
    position: absolute;
    left: 0;
    top: 0;
    height: 18vh;
    margin: 8px;
    padding:28px;
}

#headerRobin {
    position: absolute;
    right: 0;
    top: 0;
    height: 24.5vh;
}

body {
    background-color: #000;
    color: #CCC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: impact;
    text-transform: uppercase;
    color: #FBD12C;
}

h1 {
    font-size: 48px;
}

navigation {
    text-align: center;
    display: block;
}

.navButton {
    background-color: #FBD12C;
    color: #000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: impact;
    text-transform: uppercase;
    transform: rotate(4deg);
    margin-right: 13px;
}

.summary {
    margin: 5%;
    transform: rotate(-5deg) matrix(1, 0, 0, 1, 28.55, -0.425);
    width: 55%
}

.introBlurb {
    font-family: sans-serif;
    line-height: 1.5em;
}

#ravenPurple {
    background: url(/src/ravenPurple.svg) center center no-repeat transparent;
    transform: matrix(1, 0, 0, 1, 28.55, -0.425);
    background-size: 100%;
    display: block;
    padding-top: 48%;
    width: 40%;
    z-index: 14;
}

footer {
    color: #aaaaaa;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

/* Styles for Mobile */
@media only screen and (max-width: 980px) {
    #headerRobin {
        margin-right: -160px;
    }
    .navButton {
        font-size: 36px;
    }
}